<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud App in express/node/mongodb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <!-- header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand -text-dark">User Management system</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- header -->

    <!-- Main site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/" class="border-shadow"><span class="text-gradient"><i
                                class="fas fa-angle-double-left"></i> All users</span></a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Use the below form to create new account. </span>
            </div>
            <!-- form handling  -->
            <form method="POST" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                       <label for="name" class="text-light">Name</label> 
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!-- /Main site -->

</body>

</html>